<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
       <tr> <th>Product</th> 
        <th>Price</th> 
        <th>Add</th> </tr>
       {% for p in  pr %}

       <tr>
          <td>{{p.Product_name}}</td>  
          <td>{{p.price}}</td>  
          <td><a href="{% url 'eshopapp:addcart'  %}">Add to cart</a></td>  
       </tr>
       {% endfor %}
       
    </table>
  
</body>
</html>