<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    
 <link rel="stylesheet" href="{% static '/css/mystyle.css' %}">
</head>
<body id="bg" style=" background-image:url({%static '/image/background.jpg' %}); margin-top: 10px">
    <div class="container">
    
    <form method="POST" action="{% url 'eshopapp:register' %}">
        <table>
        {% csrf_token %}
       <!--{{ usfm.as_p }} -->
      <!--- <label for="name">Name</label> <input type="text" name="name" id="name"> <br> <br>
       <label for="username">username</label> <input type="text" name="username"> <br> <br>
       <label for="date_of_birth">Date of birth</label> <input type="datetime-local" name="date_of_birth"> <br> <br>
       <label for="adress">Adress</label> <textarea name="adress" rows="10" cols="18"></textarea> <br> <br>
       <label for="email">Email</label> <input type="email" name="email" id="email"> <br> <br>
       <label for="phone_number">phone_number</label> <input type="text" name="phone_number" id="phone_number"> <br> <br>
       <label for="password">password</label> <input type="password" name="password" id="password"> <br> <br>
       <label for="confirm_password">confirm_password</label> <input type="password" name="confirm_password" id="confirm_password">
       <br> <br>-->
      
      {{refrm.as_table}}
     </table>
     &nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp;
        &nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp;
        &nbsp;  &nbsp; 
     <input class="btn btn-primary btn-lg" type="submit" value="register" style="margin-top: 8px;" >
     <a href="{% url 'eshopapp:login' %}" class="btn btn-primary btn-lg" style="margin-top: 8px;" >Login </a>
     <br><h4>{{already}} </h4>
    </form>
        
     
       
    </div>
      

   
</body>
</html>